.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .form {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 30%;
  }
  
  .formInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid black;
  }
  
  .buttonLogin {
    background-color: #1c1088;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }
  