.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.navbar-logo {
    font-size: 28px;
}

.navbar-links {
    display: none;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

.navbar-links a:hover {
    color: rgb(173, 168, 168);
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .navbar-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        font-size: 20px;
    }

    .navbar-links>* {
        margin-left: 20px;
    }

    .navbar-search {
        width: 50%;
    }
}



.rick-and-morty {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    animation: changeColor 5s linear infinite alternate;
}

@media only screen and (max-width: 850px) {
    .rick-and-morty {
        font-size: 28px;
    }
    /* navbar responsive */
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-links {
        width: 100%;
        justify-content: center;
        font-size: 16px;
    }

    .navbar-links>* {
        margin-left: 10px;
    }

    .navbar-search {
        width: 100%;
        margin-top: 10px;
    }

    .navbar-logo {
        font-size: 20px;
    }

    .navbar-links {
        display: flex;
    }

    .navlink {
        font-size:16px;
    }

    /* search responsive */
    .searchBar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-button {
        width: 100%;
    }

    .search-button-2 {
        font-size: 16px;
    }

    .logout-button .fa  {
        font-size: 12px;

    }

}

@keyframes changeColor {
    0% {
        color: #F44336;
    }

    25% {
        color: #FFEB3B;
    }

    50% {
        color: #4CAF50;
    }

    75% {
        color: #2196F3;
    }

    100% {
        color: #9C27B0;
    }
}
  
.search-button-1,
.search-button-2 {
  background-color: #f84d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-button-1:hover,
.search-button-2:hover {
  background-color: #f51818;
}

.searchID{
  border: 1px solid #f84d4d;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
}

.searchID:focus {
  outline: none;
  border-color: #f51818;
  box-shadow: 0 0 5px #f51818;
}

.logout-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  
/* navlink active css */

.active {
    background-color: rgb(25, 17, 71);
    border-radius: 5px;
    padding: 5px;
}