.footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 1; /* Opacidad del footer para que no se vea inicialmente */
    transition: opacity 0.5s ease; /* Transición de opacidad para suavizar la aparición/desaparición */
  }

  .footer p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }

  .footer a {
    text-decoration: none;
    margin: 5px;
  }

.linkedin {
    color: #0e76a8;
    font-size: 24px;
}

.github {
    color: #171515;
    font-size: 24px;
}

