body {
   height: max-content;
   background-color:#090b1a;
}

.App {
   text-align: center;
   padding-bottom: 60px;
}

.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   width: 60%;
   margin: 0 auto;
}




