* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background:  #090b1a;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
  height: 100vmax;
}

/* Agregamos un estilo de cursor personalizado usando la propiedad "url" y proporcionando una imagen */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
